{% extends "youtube.html" %}

{% block content2show %}
<div class="w3-container w3-card w3-light-grey w3-margin-left w3-animate-opacity">

<div class="w3-panel">


<!--Table-->
<table class="w3-table w3-striped w3-white w3-margin-top">

    <tr>
        <td class="w3-ul w3-center">Welcome to our website!</td>

    </tr>
    <tr>
        <td class="w3-pale-red w3-leftbar w3-rightbar w3-border-red">Our project is a web app that can analyze data in YouTube and draw some conclusions. We're trying to implement
more interesting functions and we're still improving this web app. We look forward to receiving any advice or suggestion from you.
You could get the access to our project code and information on <a href="https://github.com/duanzhiihao/youtubeAnalyze"
  class="w3-hover-text-green">Our Github</a>. Please feel free to contact us!
        </td>
    </tr>

    <tr>
        <td class="w3-ul w3-center">Our group member
        </td>
    </tr>
    <tr>
        <td class=" w3-ul w3-center w3-pale-red w3-leftbar w3-rightbar w3-border-red">
    <li>Zhihao Duan |duanzh@bu.edu</li>
    <li>Shilu Wu |shiluwu@bu.edu</li>
    <li>Jiaqi Sun |sjq@bu.edu</li>
       </td>
    </tr>

</table>

{% if err_msg %}
<div class="w3-red">
    <p>Error: {{err_msg}}</p>
</div>
{% endif %}

</div>

</div>
{% endblock %}
